.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
  }

.campo_obligatorio-error {
    display: none;
    color: #bb2929;
}

.campo_obligatorio-error-activo {
    display: block;
}