# <IfModule mod_rewrite.c>
#     Options -Multiviews
#     RewriteEngine On
#     RewriteBase /automatizacioninnovacion/public
#     RewriteCond %{REQUEST_FILENAE} !-d
#     RewriteCond %{REQUEST_FILENAE} !-f
#     RewriteRule ^$ public/ [L]
#     RewriteRule ^(.+) index.php?url=$1 [QSA,L]
# </IfModule>
<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /automatizacioninnovacion/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>